<h1>User</h1>

<p><%= @user.username %></p>
<p><%= @user.email %></p>

<ul>
	<% @user.reviews.each do |review| %>
		<li>Title: <%= review.title %> - <%= review.stars %> Stars</li>
		<li>Content: <%= review.content %></li>
		<li><%= link_to "Edit Review", edit_review_path(review) %></li><br>
	<% end %>
</ul>



