<%= render partial: 'layouts/errors', locals: {object: @brewery} %>

<%= form_for @brewery do |f| %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>


	<div class="form-group">
		<%= f.label :in_store, "Check Box if available in Stores" %><br>
		<%= f.check_box :in_store %>		
	</div>
	
	<%= f.submit class: "btn btn-primary" %>

<% end %>