<%= render partial: 'layouts/errors', locals: {object: @beer} %>

<%= form_for @beer do |f| %>

	<div class="form-group">
		<%= f.label :name, "Beer Name" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">	
		<%= f.label :style %>
		<%= f.text_field :style, class: "form-control" %>
	</div>

	<div class="form-group">	
		<%= f.label :tasting_notes %>
		<%= f.text_area :tasting_notes, class: "form-control" %>
	</div>

	<p>Select from existing Breweries</p>
	<div class="form-group">
		<%= f.collection_select :brewery_id, Brewery.all, :id, :name, {:prompt => 'Select'}  %>
	</div>

	<p>Or Add a New Brewery</p>
	<%= f.fields_for :brewery do |b| %>
		<div class="form-group">
			<%= b.label :name %>
			<%= b.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">	
			<%= b.label :in_store, "Check Box if available in Stores" %><br>
			<%= b.check_box :in_store %>
		</div>
	<% end %>

	<%= f.hidden_field :user_id, :value => current_user.id %>

	<%= f.submit class: "btn btn-primary" %>

<% end %>