<h1><%= @beer.name %></h1>
<small><b>By </b><%= @beer.brewery.name %></small>
<br>
<br>

<ul>
	<li><b>Style: </b><%= @beer.style %></li><br>
	<li><b>Tasting Notes: </b><%= @beer.tasting_notes %></li><br>
</ul>

<% if @beer.brewery.in_store %>
	<p><b>-- Now Available in Stores</b></p>
<% else %>
	<p><b>Not Available in Stores</b></p>
<% end %>

<h3><%= @beer.user.username %> says</h3>
<ul>
	<% @beer.reviews.each do |review| %>
		<% if review.user == current_user %>
			<li><b>Title: </b><%= review.title %> - <b><%= review.stars %> Stars</b></li>
			<p><b>Content: </b><%= review.content %>			
				<%= link_to "Edit Review", edit_review_path(review) %>		
			</p>
		<% end %>	
	<% end %>
</ul>

<p><%= link_to "See all Reviews for this Beer", beer_reviews_path(@beer), class: "btn btn-primary" %></p>


<br>
<%= link_to "Back", :back, class: "btn btn-primary" %>


