<% if @beer %>
	<h1>Reviews for <%= @beer.name %></h1>
<% else %>
	<h1>All Reviews</h1>
<% end %>

<ul>
	<% @reviews.each do |review| %>
		<li><b>Beer Name: </b><%= review.beer.name %> - <b><%= review.stars %> Stars</b></li>
		<li><b>Title: </b><%= review.title %></li>
		<small><b>Reviewed by: </b><%= review.user.username %></small>
		<p><b>Content: </b><%= review.content %>
		<% if review.user == current_user %>			
			<%= link_to "Edit Review", edit_review_path(review) %>	
		<% else %>
			<%= link_to "Show Review", review_path(review) %>
		<% end %>	
		</p>
	<% end %>		
</ul>