 <nav class="navbar navbar-inverse">

    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">BeerFaves</a>
      </div>

        <ul class="nav navbar-nav">
          <li><%= link_to "Home", reviews_path %></li>

      <% if current_user %>          
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Breweries", breweries_path %></li>
          <li><%= link_to "Beers", beers_path %></li>
          <li><%= link_to "Add New Beer", new_beer_path %></li>
        </ul>

         <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Logout", logout_path, method: :delete %></span> </li>
        </ul>
        
      <% else %>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>

      <% end %>

    </div>

  </nav>
